<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FingerPrintManagerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FingerPrintManagerApp.Properties.Settings>
            <setting name="local_db_invariant" serializeAs="String">
                <value>MySQL</value>
            </setting>
            <setting name="local_server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="local_port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="local_user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="local_pwd" serializeAs="String">
                <value>linda</value>
            </setting>
            <setting name="local_dbname" serializeAs="String">
                <value>finger_print_manager_db</value>
            </setting>
            <setting name="is_db_configured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_app_configured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="last_connected_username" serializeAs="String">
                <value />
            </setting>
            <setting name="local_country_code" serializeAs="String">
                <value>COD</value>
            </setting>
            <setting name="default_printer_name" serializeAs="String">
                <value />
            </setting>
            <setting name="sleep_delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="background_image_opacity" serializeAs="String">
                <value>0</value>
            </setting>
        </FingerPrintManagerApp.Properties.Settings>
    </userSettings>
</configuration>